.mogu-word {
  display: inline-block;
}

.mogu-word.passed {
  animation: fadeOut 0.8s ease forwards;
}

#mogu {
  pointer-events: none;
  width: 40px;
  z-index: 9999;
  position: absolute;
  opacity: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(2px);
  }
}
